<h1>Sleep Statistics</h1>
<p>Average Sleep Duration: <%= @sleep_statistic.average_sleep_duration %> hours</p>
<p>Average Sleep Quality: <%= @sleep_statistic.average_sleep_quality %> / 10</p>
<%= link_to "Back to Sleep Records", sleep_path %>
